.btn-info {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) !important;
    background-color: rgb(73, 175, 205) !important;
    background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(47, 150, 180)) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: rgb(255, 255, 255);
    background-color: rgb(47, 150, 180);
}
.btn:hover, .btn:focus {
    text-decoration: none;
	background-position: 0px -35px;
	transition: background-position 0.1s linear 0s;

}

.content {
	padding-top:90px;
}

#corps {
	padding-left:16.67% !important;
}

body, html {
	height: 100%;
}

h1 {
	font-size: 20px;
}
hr {
	margin : 2px;
}
nav ul {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	line-height: 0.5em;
	list-style: none outside none;
	position: relative;
}

nav ul li a {
    line-height: normal;
    font-size: 16px;
    padding: 10px 10px 10px 11px;
    color: rgb(168, 168, 168);
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    position: relative;

   }

.fixed {
	position:fixed;
}

.form-search {
	font-size: 16px;
}
.glyph {
	margin-right:2px !important;
}

.header {
	display: inline-block;
	width: 83.7%;
	height:90px;
	color : rgb(201,201,201);
	border-style: solid;
	border-color: transparent transparent rgb(82, 81, 81);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 1px 0px;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 0px rgba(0, 0, 0, 0.07) inset;
	z-index:100;
}
.header-top {
	
	background : linear-gradient(to bottom, rgb(58, 54, 51) 93%, rgb(42, 39, 37) 100%) repeat scroll 0% 0% transparent;
	border-style: solid;
	border-color: transparent transparent rgb(82, 81, 81);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 1px 0px;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 0px rgba(0, 0, 0, 0.07) inset;
	
}

.header-block {
	border-style: solid;
	border-color: rgb(82, 81, 81);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 1px;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 0px rgba(0, 0, 0, 0.07) inset;
}

.header img {
	width: 100%;
	height: auto;
}

.height_100 {
	height:100%;
}

.line-list {
	color: rgb(201, 201, 201);
	font-weight: bold;
	background : rgb(58, 54, 51);
	padding-top:5px;
}

.line-list label{
	margin-top:0px;
}

#login {
	margin: 0 auto;
	margin-top:20px;
}
.margin-none {
	margin-left: 0px;
	margin-right: 0px;
}

.nav-left {
	background : linear-gradient(to right, rgb(58, 54, 51) 93%, rgb(42, 39, 37) 100%) repeat scroll 0% 0% transparent;
	min-height: 100%;
	overflow : hidden;
	color: rgb(201, 201, 201);
	position:fixed;
}

.padding-none {
	padding-left: 0px;
	padding-right: 0px;
}

.panel {
	background : none !important;
}

.panel-body {
	background :rgba(69, 69, 69, 0.6) !important;
	padding:none !important;
	padding-left:25px !important;
}

.panel-body>ul>li:hover{
	background :rgba(69, 69, 69, 0.9) !important;
}

.panel-group {
	margin-bottom:0px !important;
}

.panel-group b {
    position: absolute !important;
    right: 10px !important;
    top: 12px !important;
    float: right !important;
	font-size: 14px !important;
	margin-top: -1px !important;
	margin-bottom:0px !important;
}

.panel-heading {
	padding : 0px;
}

.results {
	font-size: 0.85em;
	
}

.results label{
	margin:0px;
}


.small-size {
	font-size: 0.85em;
}

.spacer {
	margin-top:2%;
}

.spacer-bottom {
	margin-bottom:2%;
}

.status-connexion {
	width:100% !important;
}
