{% load staticfiles %}

<!DOCTYPE html > 
<html lang="fr">
	<head> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=yes" />
		<title>Ucar - Autoradio for Car</title>
		<link rel="icon" href="{% static 'img/favicon.png' %}" />
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		
	</head>
			
			 
	<body>
		
		<aside class="nav-left col-md-2 col-lg-2 margin-none padding-none">
			<div class="header">
				<span style="border-bottom: 1px solid rgb(26, 24, 23);display: inline-block; height:100%; width:100%;">
					<img src="{%static 'img/car-wait.png'%}" title = "Attente de connexion"/>
				</span>
			</div>
			<nav>

				<ul>
					<li>
						<a>
						<span class="glyphicon glyph glyphicon-dashboard "></span>
						Tableau de bord
						</a>
					</li>
					<li>
						<div class="panel-group" id="accordion">
							 <div class="panel">
    							<div class="panel-heading">
    								<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#file">
											<span class="glyphicon glyph glyphicon-file "></span>
											Fichiers
											
											<span type="button"  data-toggle="collapse" data-target="#file">
												<b class="glyphicon glyph glyphicon-plus"></b>
											</span>
											
										</a>
									</h4>
								</div>
								<div id="file" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-music "></span>
													Audio
												</a>
											</li>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-globe ">  </span>
													Map
												</a>
											</li>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-picture "></span>
													Autres
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</li>
					<li>
						<div class="panel-group" id="conf">
							 <div class="panel">
    							<div class="panel-heading">
    								<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#conf" href="#configuration">
											<span class="glyphicon glyph glyphicon-cog "></span>
											Configuration
											
											<span type="button"  data-toggle="collapse" data-target="#configuration">
												<b class="glyphicon glyph glyphicon-plus"></b>
											</span>
											
										</a>
									</h4>
								</div>
								<div id="configuration" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-wrench "> </span>
													Paramètres généraux
												</a>
											</li>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-plane "> </span>
													Véhicules
												</a>
											</li>
											<li>
												<a>
													<span class="glyphicon glyph glyphicon-user "> </span>
													Utilisateurs
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</aside>

		<div class="col-md-10 col-ld-10 padding-none margin-none">
			<div class="header header-top">
				<div class="row margin-none height_100">
					<div class="col-md-5 header-block height_100 text-center">
						<div class="row margin-none height_100">
							<div class="col-md-6">
								Sur le disque
								<ul class="text-left small-size">
									<li>1000 fichiers</li>
									<li>3,9 Mo utilisés</li>
								</ul>
							</div>
							<div class="col-md-6">
								Sur la cible
								<ul class="text-left small-size">
									<li>1000 fichiers</li>
									<li>3,9 Mo de disponible</li>
								</ul>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a class="btn btn-info btn-xs">
										<span class="glyphicon glyph glyphicon-refresh "></span>
										Rafraichir ces informations
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 header-block height_100 text-center">
						<div class="row margin-none height_100">
							<div class="col-md-12">
								À Envoyer
								<ul class="text-left small-size">
									<li>1000 fichiers</li>
									<li>Taille : 3,9 Mo</li>
								</ul>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a class="btn btn-info btn-xs">
										<span class="glyphicon glyph glyphicon-export "></span>
										Commencer l'envoi ...
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 header-block height_100 text-center">
						<a id="login" class="btn btn-info btn-large">
							<span class="glyphicon glyph glyphicon-user "></span>
						 	Se connecter 
						</a>
					</div>
				</div>
			</div>
			<div class="">
				{%block contenu%}
				{%endblock%}
			</div>
		</div>
		

		
		
	</body>
</html>
